body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(173, 247, 250);
}

.header {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;
    width: 500px;
    border-radius: 5cqh;
}

p.bearBuddy {
    font-family: monospace;
    letter-spacing: 10px;
    font-size: 40px;
}

p {
    margin-bottom: 30px;
    font-family: monospace;
    font-size: 15px;
}

.box{
    background-color: rgb(185, 183, 183);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 600px;
    border: 2px solid black;
    border-radius: 5cqh;
    padding: 30px;
    box-shadow: 2px 2px 5px;
}

.screen {
    background-color: rgb(255, 255, 255);
    width: 230px;
    height: 230px;
    border: 2px solid black;
    border-radius: 5cqh;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#textBox {
    margin-bottom: 35px;
    margin-top: 20px;
    font-size: 20px;
    font-family: monospace;
    text-align: center;
}

.row {
    display: flex;
    justify-content: space-evenly;
    width: 200px;
}

.text {
    font-family: monospace;
    font-size: 12px;
    text-align: center;
    margin: 4px;
}

.knapper {
    display: flex;
    justify-content: space-evenly;
}


button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(127, 193, 224);
    border: 1px solid rgb(73, 81, 129);
    cursor: pointer;
    transition: background-color 0.25s;
    margin: 15px;
    box-shadow: 2px 2px 5px;
}

button:hover {
    background-color: rgb(95, 121, 160);
}